# SPDX-FileCopyrightText: 2026 TSUKUMO Akito <tsukumoakito99@duck.com>
# SPDX-License-Identifier: MIT

/private
/bin
*.exe
*.o
*.obj
*.pdb
*.so
*.dll
*.dylib
*.a
*.lib
*.log
**/zig-out/
**/.zig-cache/
**/target/
**/vendor/
**/__pycache__/
**/.venv/
*~
.DS_Store
