# SPDX-FileCopyrightText: 2026 TSUKUMO Akito <tsukumoakito99@duck.com>
# SPDX-License-Identifier: MIT

/private
**/zig-out/
**/.zig-cache/
**/target/
**/vendor/
**/__pycache__/
**/.venv/
*.exe
*.o
*.obj
*.pdb
*.so
*.dll
*.dylib
*.a
*.lib
mandel_c
mandel_zig
mandel_rust
mandel_go
sieve_c
sieve_zig
sieve_rust
sieve_go
btree_c
btree_zig
btree_rust
btree_go
*~
.DS_Store
